[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HiCociety"]
	path = HiCociety
	url = https://github.com/cran/HiCociety
[submodule "HiCocietyExample"]
	path = HiCocietyExample
	url = https://github.com/cran/HiCocietyExample
[submodule "metapro"]
	path = metapro
	url = https://github.com/cran/metapro
